@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
.grid{
    display: grid;
    align-content: space-around;
    grid-auto-rows: auto;
    grid-template-areas:
            "a"
            "b"
            "c";
}
#gridHeading{
    grid-area: a;
}

#gridFooter{
    grid-area: c;
}

#gridGalery{
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(5, minmax(144px,auto));
    justify-items: center;
    
}



.item{
    background-color: rgb(255,255,255);
    margin: 8px;
    text-align: center;
    border-radius: 5px;
}

.item img{
    width: 144px;
    display: block;
    background-color: rgb(99, 99, 218);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

    @media screen and (max-width: 1024px) {
    #gridGalery {
    grid-template-columns: repeat(3, minmax(144px,auto));
    }
    }
     
     
    @media screen and (max-width: 414px) {
    #gridGalery {
    grid-template-columns: repeat(1, minmax(144px,auto));
    }
    }
